<div class="<%= wrapper_classes %>" <%= tag.attributes(controller_data) %>>
  <% if trigger? %>
    <%= trigger %>
  <% else %>
    <button type="button" class="<%= trigger_button_classes %>">
      <%= trigger_text %>
    </button>
  <% end %>

  <template data-popover-target="content">
    <% if title.present? %>
      <p class="border-b border-b-neutral-100 bg-neutral-50 px-3 py-2.5 rounded-t-[0.4375rem] font-semibold dark:border-neutral-700/75 dark:bg-neutral-700/25 text-neutral-700 dark:text-neutral-200">
        <%= title %>
      </p>
    <% end %>

    <% if panel? %>
      <div class="<%= panel_wrapper_classes %>">
        <%= panel %>
      </div>
    <% end %>
  </template>
</div>
