<div class="<%= wrapper_classes %>" <%= tag.attributes(controller_data) %>>
  <input id="<%= @id %>"
         <% if @name.present? %>name="<%= @name %>"<% end %>
         <% if @value.present? && !@value.start_with?("[") %>value="<%= @value %>"<% end %>
         <%= "readonly" if @readonly %>
         <%= "required" if @required %>
         <%= "disabled" if @disabled %>
         data-date-picker-target="input"
         placeholder="<%= @placeholder %>"
         class="<%= input_classes %>">

  <% if @show_icon && !@inline %>
    <div class="pointer-events-none absolute inset-y-0 right-3 flex items-center justify-center opacity-80">
      <% if @time_only %>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 18 18">
          <g fill="currentColor">
            <path d="M9,1C4.589,1,1,4.589,1,9s3.589,8,8,8,8-3.589,8-8S13.411,1,9,1Zm0,14.5c-3.584,0-6.5-2.916-6.5-6.5S5.416,2.5,9,2.5s6.5,2.916,6.5,6.5-2.916,6.5-6.5,6.5Z"></path>
            <path d="M12.25,8.25h-2.5V5c0-.414-.336-.75-.75-.75s-.75,.336-.75,.75v4c0,.414,.336,.75,.75,.75h3.25c.414,0,.75-.336,.75-.75s-.336-.75-.75-.75Z"></path>
          </g>
        </svg>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 18 18">
          <g fill="currentColor">
            <path d="M5.75,3.5c-.414,0-.75-.336-.75-.75V.75c0-.414,.336-.75,.75-.75s.75,.336,.75,.75V2.75c0,.414-.336,.75-.75,.75Z"></path>
            <path d="M12.25,3.5c-.414,0-.75-.336-.75-.75V.75c0-.414,.336-.75,.75-.75s.75,.336,.75,.75V2.75c0,.414-.336,.75-.75,.75Z"></path>
            <path d="M13.75,2H4.25c-1.517,0-2.75,1.233-2.75,2.75V13.25c0,1.517,1.233,2.75,2.75,2.75H13.75c1.517,0,2.75-1.233,2.75-2.75V4.75c0-1.517-1.233-2.75-2.75-2.75Zm0,12.5H4.25c-.689,0-1.25-.561-1.25-1.25V7H15v6.25c0,.689-.561,1.25-1.25,1.25Z"></path>
          </g>
        </svg>
      <% end %>
    </div>
  <% end %>
</div>
