<%#
  Toast Container Component
  A container for displaying toast notifications with stacking and positioning support.

  Optional locals:
    - position: String (default: "top-center") - Container position: "top-left", "top-center", "top-right", "bottom-left", "bottom-center", "bottom-right"
    - layout: String (default: "default") - Layout mode: "default" (stacked) or "expanded" (all visible)
    - auto_dismiss_duration: Integer (default: 4000) - Duration in ms before auto-dismiss
    - limit: Integer (default: 3) - Maximum number of visible toasts
    - gap: Integer (default: 14) - Gap between toasts in expanded mode
    - classes: String (default: nil) - Additional CSS classes for the container
%>

<% position ||= "top-center" %>
<% layout ||= "default" %>
<% auto_dismiss_duration ||= 4000 %>
<% limit ||= 3 %>
<% gap ||= 14 %>
<% classes ||= nil %>

<%
  # Valid positions
  valid_positions = %w[top-left top-center top-right bottom-left bottom-center bottom-right]
  position = valid_positions.include?(position) ? position : "top-center"

  # Valid layouts
  valid_layouts = %w[default expanded]
  layout = valid_layouts.include?(layout) ? layout : "default"

  # Position classes
  position_classes = case position
    when "top-right"
      "right-0 top-0 mt-4 mr-4 sm:mt-6 sm:mr-6"
    when "top-left"
      "left-0 top-0 mt-4 ml-4 sm:mt-6 sm:ml-6"
    when "top-center"
      "left-1/2 -translate-x-1/2 top-0 mt-4 sm:mt-6"
    when "bottom-right"
      "right-0 bottom-0 mb-4 mr-4 sm:mr-6 sm:mb-6"
    when "bottom-left"
      "left-0 bottom-0 mb-4 ml-4 sm:ml-6 sm:mb-6"
    when "bottom-center"
      "left-1/2 -translate-x-1/2 bottom-0 mb-4 sm:mb-6"
    else
      "left-1/2 -translate-x-1/2 top-0 mt-4 sm:mt-6"
    end

  # Build container classes
  base_classes = "fixed z-[99999] w-full px-4 sm:px-0 sm:w-auto pointer-events-none transition-all duration-300 ease-in-out"
  container_classes = [base_classes, position_classes, classes].compact.reject(&:empty?).join(" ")
%>

<div
  class="<%= container_classes %>"
  data-controller="toast"
  data-toast-position-value="<%= position %>"
  data-toast-layout-value="<%= layout %>"
  data-toast-auto-dismiss-duration-value="<%= auto_dismiss_duration %>"
  data-toast-limit-value="<%= limit %>"
  data-toast-gap-value="<%= gap %>"
  data-action="mouseenter->toast#handleMouseEnter mouseleave->toast#handleMouseLeave"
>
  <ol
    data-toast-target="container"
    class="relative flex flex-col-reverse sm:flex-col gap-0 pointer-events-auto [&>li]:pointer-events-auto"
    style="height: 0px;"
  >
  </ol>
</div>
