<a href="<%= src %>"
   <%= tag.attributes(data: link_data_attributes) %>
   class="<%= link_classes %>">
  <img src="<%= thumbnail_src %>"
       alt="<%= alt %>"
       class="<%= image_classes %>">
  <div class="<%= overlay_classes %>"></div>
</a>
