<div class="<%= wrapper_classes %>"
     data-controller="emoji-picker"
     <% if @auto_submit %>data-emoji-picker-auto-submit-value="true"<% end %>
     <% if @insert_mode %>data-emoji-picker-insert-mode-value="true"<% end %>
     <% if @target_selector.present? %>data-emoji-picker-target-selector-value="<%= @target_selector %>"<% end %>>

  <% if @insert_mode && @target_selector.blank? %>
    <%= content %>
  <% end %>

  <div class="flex items-center gap-2">
    <button
      type="button"
      class="<%= button_classes %>"
      data-action="click->emoji-picker#toggle"
      data-emoji-picker-target="button"
    >
      <%= button_content %>
    </button>

    <% if @show_input %>
      <input
        type="text"
        id="<%= @id %>"
        name="<%= @name %>"
        value="<%= @value %>"
        placeholder="<%= @placeholder %>"
        class="<%= input_classes %>"
        data-emoji-picker-target="input"
        autocomplete="off"
      >
    <% else %>
      <input
        type="text"
        name="<%= @name %>"
        value="<%= @value %>"
        class="hidden"
        data-emoji-picker-target="input"
      >
    <% end %>
  </div>

  <div data-emoji-picker-target="pickerContainer" class="<%= picker_position_classes %>"></div>
</div>
