<section class="<%= wrapper_classes %>" <%= tag.attributes(wrapper_attributes) %>>
  <div class="<%= viewport_classes %>" data-carousel-target="viewport">
    <div class="<%= slides_container_classes %>">
      <% slides.each do |slide| %>
        <%= slide %>
      <% end %>
    </div>
  </div>

  <% if show_buttons? || show_dots? %>
    <div class="flex justify-between items-center mt-4 px-4 sm:px-6 md:px-8">
      <% if show_buttons? %>
        <div class="grid grid-cols-2 gap-2 items-center z-10">
          <button
            class="flex items-center justify-center size-10 rounded-full bg-white p-2 text-sm font-semibold text-neutral-800 shadow-xs hover:bg-neutral-50 outline-hidden border border-neutral-200 dark:border-neutral-700 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700/75 disabled:opacity-80 disabled:cursor-not-allowed"
            type="button"
            data-carousel-target="prevButton"
            aria-label="Previous"
          >
            <%= prev_icon_svg.html_safe %>
          </button>

          <button
            class="flex items-center justify-center size-10 rounded-full bg-white p-2 text-sm font-semibold text-neutral-800 shadow-xs hover:bg-neutral-50 outline-hidden border border-neutral-200 dark:border-neutral-700 dark:bg-neutral-800 dark:text-white dark:hover:bg-neutral-700/75 disabled:opacity-80 disabled:cursor-not-allowed"
            type="button"
            data-carousel-target="nextButton"
            aria-label="Next"
          >
            <%= next_icon_svg.html_safe %>
          </button>
        </div>
      <% else %>
        <div></div>
      <% end %>

      <% if show_dots? %>
        <div class="z-10 flex flex-wrap justify-end items-center gap-1.5" data-carousel-target="dotsContainer"></div>
      <% end %>
    </div>
  <% end %>
</section>
