<% label ||= "" %>
<% href ||= "#" %>
<% icon ||= nil %>
<% shortcut ||= nil %>
<% active ||= false %>
<% disabled ||= false %>
<% badge ||= nil %>
<% item_classes ||= nil %>

<%
  base_classes = "group w-full flex items-center justify-between gap-2 rounded-md px-2 py-1.5 text-left text-sm"
  state_classes = if disabled
                    "text-neutral-400 cursor-not-allowed opacity-50 dark:text-neutral-500"
                  elsif active
                    "text-neutral-900 bg-neutral-100 dark:text-neutral-100 dark:bg-neutral-700/50"
                  else
                    "text-neutral-700 hover:bg-neutral-100 focus-visible:bg-neutral-100 focus:outline-hidden disabled:cursor-not-allowed disabled:opacity-50 dark:text-neutral-100 dark:hover:bg-neutral-700/50 dark:focus-visible:bg-neutral-700/50"
                  end
  classes = [base_classes, state_classes, item_classes].compact.reject(&:empty?).join(" ")
%>

<a href="<%= href %>" aria-label="<%= label %>" class="<%= classes %>">
  <div class="flex min-w-0 items-center gap-1.5">
    <% if icon.present? %>
      <div class="flex items-center justify-center group-disabled:opacity-50 group-data-disabled:opacity-50">
        <%= icon.html_safe %>
      </div>
    <% end %>
    <div class="flex min-w-0 grow items-center gap-2.5 group-data-no-contents-gap:gap-0">
      <div class="truncate"><%= label %></div>
    </div>
  </div>
  <div class="text-neutral-500 dark:text-neutral-400">
    <% if badge.present? %>
      <span class="mr-auto text-xs"><%= badge %></span>
    <% elsif shortcut.present? %>
      <div class="hidden sm:block">
        <div class="hidden ml-auto group-hover:flex text-xs">
          <%= shortcut %>
        </div>
      </div>
    <% end %>
  </div>
</a>
