<% label ||= "" %>
<% description ||= nil %>
<% icon ||= nil %>
<% items ||= [] %>
<% groups ||= [] %>
<% name ||= "items[]" %>
<% level ||= 0 %>
<% classes ||= nil %>

<%
  base_classes = level.zero? ? "p-4 flex flex-col gap-2" : "flex flex-col gap-2"
  group_classes = [base_classes, classes].compact.reject(&:empty?).join(" ")
  unique_id = "group-#{SecureRandom.hex(4)}"
%>

<div class="<%= group_classes %>" data-checkbox-select-all-target="parent">
  <!-- Parent checkbox -->
  <div class="flex items-start gap-x-3 -mx-2 px-2 py-2 rounded-lg border border-transparent has-[:checked]:bg-neutral-100 dark:has-[:checked]:bg-neutral-800 has-[:checked]:border-black/5 dark:has-[:checked]:border-white/10">
    <input
      type="checkbox"
      id="<%= unique_id %>"
      class="mt-0.5"
      tabindex="0"
      data-checkbox-select-all-target="checkbox"
      data-action="click->checkbox-select-all#toggleChildren click->checkbox-select-all#toggle">
    <label for="<%= unique_id %>" class="inline-block cursor-pointer select-none flex-1">
      <div class="flex items-center gap-x-1.5 text-sm has-[:checked]:text-neutral-900 dark:has-[:checked]:text-neutral-50">
        <% if icon.present? %>
          <%= icon.html_safe %>
        <% end %>
        <%= label %>
      </div>
      <% if description.present? %>
        <div class="text-xs text-neutral-500 dark:text-neutral-400 mt-0.5">
          <%= description %>
        </div>
      <% end %>
    </label>
  </div>

  <!-- Nested children -->
  <div class="ml-[7px] pl-5 space-y-2 border-l-2 border-black/10 dark:border-white/10 has-[:checked]:border-neutral-400 dark:has-[:checked]:border-neutral-500">
    <% items.each_with_index do |item, index| %>
      <div class="-ml-2 pl-2 -mr-3 pr-3 py-1.5 rounded-md border border-transparent flex items-center gap-x-3 has-[:checked]:bg-neutral-100 dark:has-[:checked]:bg-neutral-800 has-[:checked]:border-black/5 dark:has-[:checked]:border-white/10">
        <input
          type="checkbox"
          id="<%= item[:id] || "#{unique_id}-child-#{index}" %>"
          name="<%= item[:name] || name %>"
          value="<%= item[:value] %>"
          tabindex="0"
          <% if item[:checked] %>checked <% end %>
          <% if item[:disabled] %>disabled <% end %>
          data-checkbox-select-all-target="checkbox child"
          data-action="click->checkbox-select-all#toggle">
        <label for="<%= item[:id] || "#{unique_id}-child-#{index}" %>" class="inline-block text-sm cursor-pointer select-none has-[:checked]:text-neutral-900 dark:has-[:checked]:text-neutral-50 has-[:checked]:font-medium<% if item[:disabled] %> opacity-50<% end %>">
          <%= item[:label] %>
        </label>
      </div>
    <% end %>

    <% groups.each do |group| %>
      <%= render "shared/components/checkbox_select_all/checkbox_select_all_group",
        label: group[:label],
        description: group[:description],
        icon: group[:icon],
        name: group[:name] || name,
        items: group[:items] || [],
        groups: group[:groups] || [],
        level: level + 1,
        classes: group[:classes]
      %>
    <% end %>
  </div>
</div>
