<% nodes ||= [] %>
<% selectable ||= false %>
<% name ||= "items[]" %>
<% select_all_label ||= "Select All" %>
<% show_select_all ||= true %>
<% toggle_key ||= nil %>
<% animate ||= true %>
<% variant ||= "default" %>
<% classes ||= nil %>

<%
  # Build wrapper classes
  base_wrapper = "h-auto w-full"
  variant_class = case variant.to_s
                  when "bordered"
                    "p-4 rounded-lg border border-neutral-200 dark:border-neutral-700 bg-white dark:bg-neutral-800"
                  else
                    ""
                  end
  wrapper_classes = [base_wrapper, variant_class, classes].compact.reject(&:empty?).join(" ")

  # Build data attributes
  controllers = ["tree-view"]
  controllers << "checkbox-select-all" if selectable
  data_attrs = { controller: controllers.join(" ") }
  data_attrs[:"tree-view-animate-value"] = animate
  data_attrs[:"checkbox-select-all-toggle-key-value"] = toggle_key if toggle_key.present?

  # Generate unique ID for this instance
  unique_id = "tree-node-#{SecureRandom.hex(4)}"
%>

<div class="<%= wrapper_classes %>" <%= tag.attributes(data: data_attrs) %>>
  <% if selectable && show_select_all %>
    <!-- Header with Select All -->
    <div class="flex items-center gap-2 rounded-md px-2 py-1.5 hover:bg-neutral-100 dark:hover:bg-neutral-700/50 has-[:checked]:bg-neutral-200 dark:has-[:checked]:bg-neutral-700">
      <input
        type="checkbox"
        id="tree-select-all-<%= unique_id %>"
        tabindex="0"
        data-checkbox-select-all-target="selectAll"
        data-action="click->checkbox-select-all#toggleAll">
      <label for="tree-select-all-<%= unique_id %>" class="text-sm font-semibold text-neutral-900 dark:text-neutral-100 cursor-pointer select-none">
        <%= select_all_label %>
      </label>
    </div>
    <hr class="my-2 border-neutral-200 dark:border-neutral-700">
  <% end %>

  <!-- Tree content -->
  <div class="flex flex-col gap-y-1">
    <% nodes.each_with_index do |node, index| %>
      <%= render "shared/components/tree_view/tree_view_node",
        label: node[:label],
        type: node[:type] || :file,
        value: node[:value],
        name: node[:name] || name,
        default_open: node[:default_open] || false,
        icon: node[:icon],
        disabled: node[:disabled] || false,
        checked: node[:checked] || false,
        selectable: selectable,
        children: node[:children] || [],
        classes: node[:classes],
        unique_id: "#{unique_id}-#{index}"
      %>
    <% end %>
  </div>
</div>
